<package-def>
	<class name="ПодключениеNextCloud" file="src/Классы/ПодключениеNextCloud.os"/>
	<class name="ПользователиNextCloud" file="src/Классы/ПользователиNextCloud.os"/>
	<class name="ГруппыПользователейNextCloud" file="src/Классы/ГруппыПользователейNextCloud.os"/>
	<class name="ФайлыNextCloud" file="src/Классы/ФайлыNextCloud.os"/>
	<module name="Служебный" file="src/Модули/Служебный.os"/>
</package-def>