<package-def>
	<class name="ПодключениеNextCloud" file="Классы/ПодключениеNextCloud.os"/>
	<class name="ПользователиNextCloud" file="Классы/ПользователиNextCloud.os"/>
	<class name="ГруппыПользователейNextCloud" file="Классы/ГруппыПользователейNextCloud.os"/>
	<class name="ФайлыNextCloud" file="Классы/ФайлыNextCloud.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
</package-def>